<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mp3</key>
	<array>
		<dict>
			<key>name</key>
			<string>屋顶</string>
			<key>url</key>
			<string>http://m701.music.126.net/20230508100503/39ad7eb9d00ffb993beaadd99d753108/jdymusic/obj/wo3DlMOGwrbDjj7DisKw/7150237053/b797/13ed/4ef6/ecc932b8c58ff0c5c76c9c5aaeb78f1e.mp3</string>
		</dict>
		<dict>
			<key>name</key>
			<string>刀马旦</string>
			<key>url</key>
			<string>http://m701.music.126.net/20230508100353/8d911e6d82b5e678f85aaa65c81ee272/jdymusic/obj/wo3DlMOGwrbDjj7DisKw/22259857357/6eae/5569/adb3/cbb2cb09628a395d02e6f108aae925ac.mp3</string>
		</dict>
		<dict>
			<key>name</key>
			<string>布拉格广场</string>
			<key>url</key>
			<string>http://m10.music.126.net/20230506014058/061dcbd8ce2e0aabd709f33065b207da/ymusic/obj/w5zDlMODwrDDiGjCn8Ky/3179122585/a5f6/40f1/51af/c3812759e0c7853dfa0b38dd72cc5d39.mp3</string>
		</dict>
		<dict>
			<key>name</key>
			<string>达尔文</string>
			<key>url</key>
			<string>http://m701.music.126.net/20230506014236/9d63dee951b2d579878ec478db907547/jdymusic/obj/wo3DlMOGwrbDjj7DisKw/24537030170/7aa7/a7a1/4d8e/03dd187da32b6d56a3ff2f4c333fdef9.mp3</string>
		</dict>
		<dict>
			<key>name</key>
			<string>那女孩对我说</string>
			<key>url</key>
			<string>http://m701.music.126.net/20230506014254/c4fdb7656aa40cd38c64efc396930c10/jdymusic/obj/wo3DlMOGwrbDjj7DisKw/24537047936/331b/aa97/f430/36e71f18710445c13a86c931ff08865a.mp3</string>
		</dict>
	</array>
	<key>mp4</key>
	<array>
		<dict>
			<key>name</key>
			<string>Big Buck Bunny</string>
			<key>url</key>
			<string>http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Elephant Dream</string>
			<key>url</key>
			<string>http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/ElephantsDream.mp4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>For Bigger Blazes</string>
			<key>url</key>
			<string>http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/ForBiggerBlazes.mp4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sintel</string>
			<key>url</key>
			<string>http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/Sintel.mp4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Subaru Outback On Street And Dirt</string>
			<key>url</key>
			<string>http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/SubaruOutbackOnStreetAndDirt.mp4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Tears of Steel</string>
			<key>url</key>
			<string>http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/TearsOfSteel.mp4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Volkswagen GTI Review</string>
			<key>url</key>
			<string>http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/VolkswagenGTIReview.mp4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>What care can you get for a grand?</string>
			<key>url</key>
			<string>http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/WhatCarCanYouGetForAGrand.mp4</string>
		</dict>
	</array>
</dict>
</plist>
