<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mp3</key>
	<array>
		<dict>
			<key>name</key>
			<string>屋顶</string>
			<key>url</key>
			<string>http://m801.music.126.net/20230506013844/158882f90970f73c38f8e61884c7a110/jdymusic/obj/wo3DlMOGwrbDjj7DisKw/7150237053/b797/13ed/4ef6/ecc932b8c58ff0c5c76c9c5aaeb78f1e.mp3</string>
		</dict>
		<dict>
			<key>name</key>
			<string>刀马旦</string>
			<key>url</key>
			<string>http://m801.music.126.net/20230506014034/c15bd3e049148e17bdb00e347cc5cc3f/jdymusic/obj/wo3DlMOGwrbDjj7DisKw/22259857357/6eae/5569/adb3/cbb2cb09628a395d02e6f108aae925ac.mp3</string>
		</dict>
		<dict>
			<key>name</key>
			<string>布拉格广场</string>
			<key>url</key>
			<string>http://m10.music.126.net/20230506014058/061dcbd8ce2e0aabd709f33065b207da/ymusic/obj/w5zDlMODwrDDiGjCn8Ky/3179122585/a5f6/40f1/51af/c3812759e0c7853dfa0b38dd72cc5d39.mp3</string>
		</dict>
		<dict>
			<key>name</key>
			<string>达尔文</string>
			<key>url</key>
			<string>http://m701.music.126.net/20230506014236/9d63dee951b2d579878ec478db907547/jdymusic/obj/wo3DlMOGwrbDjj7DisKw/24537030170/7aa7/a7a1/4d8e/03dd187da32b6d56a3ff2f4c333fdef9.mp3</string>
		</dict>
		<dict>
			<key>name</key>
			<string>那女孩对我说</string>
			<key>url</key>
			<string>http://m701.music.126.net/20230506014254/c4fdb7656aa40cd38c64efc396930c10/jdymusic/obj/wo3DlMOGwrbDjj7DisKw/24537047936/331b/aa97/f430/36e71f18710445c13a86c931ff08865a.mp3</string>
		</dict>
	</array>
	<key>mp4</key>
	<array>
		<dict>
			<key>name</key>
			<string>山中岁月</string>
			<key>url</key>
			<string>https://wsvideobssdlbig.yun.kugou.com/202305041748/6fda0caf137fe49d7341cdf2bdd82b17/ad7f297d802dfa9749e91743be5df527.mp4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>盗笔同人曲《往期》</string>
			<key>url</key>
			<string>https://wsvideobssdlbig.yun.kugou.com/202305041748/d326324e3a2dd17af2b81027922df002/3237fa87c51afe4854f53a9223f37bcf.mp4</string>
		</dict>
	</array>
</dict>
</plist>
